:root{
    --main : rgb(255, 54, 54);
    --accent : rgb(0, 247, 255);
    --board-size : 70vmin;
    --board-divisions : 1;
}

*{
    color: white;
    font-family: 'Tilt Warp', cursive;
}

body,
html{
    background-color: black;
    margin: 0;
    height: 100%;
}

.h1{
    height: 5rem;
    position: relative;
}

h1{
    letter-spacing: calc(0.1rem + 1.2vw);
    transform: translatex(-50%);
    font-size: 2rem;
    position: absolute;
    color: white;
    font-family: 'Climate Crisis', cursive;
    z-index: 1;
}

h1.holo-red{
    user-select: none;
    position: absolute;
    transform: translate(calc(-50% - 5px), 0px);
    color: var(--main);
    z-index: 0;
}
h1.holo-blue{
    user-select: none;
    position: absolute;
    color: var(--accent);
    transform: translate(calc(-50% + 5px), 0px);
    z-index: 0;
}




body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

a{
    transition-duration: 0.5s;
    text-decoration: none;
}

a:hover{
    letter-spacing: 2px;
    color: var(--main);
}

.board{
    display: grid;
    grid-template: repeat(var(--board-divisions),1fr) /  repeat(var(--board-divisions),1fr);
    border: 5px solid white;
    height: var(--board-size);
    width: var(--board-size);
}

.box{
    border: 5px solid white;
}

