:root{
    --main : rgb(255, 54, 54);
    --accent : rgb(0, 247, 255);
    --board-size : 60vmin;
    --board-divisions : 1;
    --hueDeg : 520deg;
}

*{
    color: white;
    font-family: 'Tilt Warp', cursive;
    
}

body,
html{
    background-color: black;
    margin: 0;
    height: 100%;
}

.h1{
    transition-duration: 1s;
    height: 5rem;
    position: relative;
}

.h1:hover{
    scale: 1.1;
    filter: sepia(100%) hue-rotate(540deg) saturate(900%);
}

h1{
    letter-spacing: calc(0.1rem + 1.2vw);
    transform: translatex(-50%);
    font-size: 2rem;
    position: absolute;
    color: white;
    font-family: 'Climate Crisis', cursive;
    z-index: 1;
}

h1.holo-red{
    user-select: none;
    position: absolute;
    transform: translate(calc(-50% - 5px), 0px);
    color: var(--main);
    z-index: 0;
}
h1.holo-blue{
    user-select: none;
    position: absolute;
    color: var(--accent);
    transform: translate(calc(-50% + 5px), 0px);
    z-index: 0;
}




body{
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2vmin;
    justify-content: space-evenly;
    flex: 1;
}

a{
    font-weight: 1000;
    transition-duration: 0.5s;
    text-decoration: none;
}


a:hover{
    filter: sepia(100%) hue-rotate(360deg) saturate(50000%);
    letter-spacing: 2px;
    color: var(--main);
}

.board{
    display: grid;
    grid-template: repeat(var(--board-divisions),1fr) /  repeat(var(--board-divisions),1fr);
    border: 2vmin solid white;
    height: var(--board-size);
    width: var(--board-size);
}

.left,
.right{
        display: grid;
        grid-template: repeat(3,1fr) / 1fr;
        height: calc(var(--board-size) - 4vmin);
        width: 1fr;
}

.left{
    margin-left: 2vmin;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.right{
    margin-right: 2vmin;
}

.score{
    font-weight: 1000;
    text-align: center;
    font-size: 5rem
}

button{
    background-color: transparent;
    border: 2vmin solid white;
    color : white;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
    transition: 0.3s ;
}

button:hover{
    border-color: rgb(255, 255, 255);
    filter: sepia(100%) hue-rotate(var(--hueDeg)) saturate(50000%);
    border-width: 3vmin;
    scale: 1.05;
}
button:active{
    border-color: rgb(255, 255, 255);
    filter: sepia(100%) hue-rotate(calc(var(--hueDeg) * -1)) saturate(50000%);
    border-width: 3vmin;
    scale: 0.95;
}

.box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2vmin solid white;
    transition-property: background-color ;
    transition: 0.3s ;
}


.box.hovered{

    border-color: rgb(0, 0, 0);
    filter: sepia(100%) hue-rotate(var(--hueDeg)) saturate(50000%);
    border-width: calc(calc(var(--board-size) / var(--board-divisions)) * 0.5);

}

.box.hovered[data-icon]{
    border-color: rgb(255, 255, 255);
    border-width: calc(calc(var(--board-size) / var(--board-divisions)) * 0.15);
}

.box.winning-line{
    background-color: var(--main);
}

.box.hovered.winning-line{
    filter: none;
}
